{% load i18n %}

<div class="portlet box blue-hoki">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-rss"></i>{% trans 'Bets Status' %}
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
        </div>
        <div class="actions">
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">


        <div class="col-xs-12" id="status_pie">
            <span class="reset" style="visibility: hidden;"> Selected: <span class="filter"></span> | </span>
            <a class="reset" style="visibility: hidden;">{% trans 'reset' %}</a>
            <br>
        </div>



        </div>
</div></div>