{% load i18n %}

<div class="portlet box blue-hoki">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-rss"></i>{% trans 'Bets Table' %}
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
        </div>
        <div class="actions">
        </div>
    </div>
    <div class="portlet-body">
        <div class="row main_row" id="fourth_row">
            <div class="col-sm-12">
                <div class="row table-responsive" id="table_wrapper">
                    <div id="bev_dc_table_paging_top">
                        Selected Bets: <span id="size_top"></span>
                        <input id="bev_dc_table_last_top" class="btn bev_dc_table_last" type="Button" value="Previous"/>
                        <input id="bev_dc_table_next_top" class="btn bev_dc_table_next" type="button" value="Next"/>
                    </div>
                    <table class="col-sm-12 table table-condensed responsive" id="bev_dc_table"></table> {# table-hover #}
                    <div id="bev_dc_table_paging_bottom">
{#                        Showing <span id="bev_dc_table_num_bottom"></span> of <span id="size_bottom"></span> (<span id="begin_bottom"></span>-<span id="end_bottom"></span> )#}
                        Selected Bets: <span id="size_bottom"></span>
                        <input id="bev_dc_table_last_bottom" class="btn bev_dc_table_last" type="Button" value="Previous"/>
                        <input id="bev_dc_table_next_bottom" class="btn bev_dc_table_next" type="button" value="Next"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>