{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-sm-12">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    {{% trans "Account Inactive" %}
                </div>
                <div class="actions">
                </div>
            </div>
            <div class="portlet-body">

    <div class="row">
    <div class="col-sm-12">

<h5>{% trans "This account is inactive." %}</h5>

    </div></div></div></div></div></div>
{% endblock %}
