{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-sm-12">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}
                </div>
                <div class="actions">
                </div>
            </div>
            <div class="portlet-body form">

    <div class="row">
    <div class="col-sm-12">

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <h4 class="no_form_content">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</h5>
    {% else %}
        {% if form %}
            <form role="form" method="POST" action=".">
                <div class="form-body">
                    {% csrf_token %}
                    {% include 'entities/form.html' %}
                </div>
                <div class="form-actions">
                    <input type="submit" name="action" value="{% trans 'Change password' %}"/>
                </div>
            </form>
        {% else %}
            <h5>{% trans 'Your password is now changed.' %}</h5>
        {% endif %}
    {% endif %}

    </div></div></div></div></div></div>

{% endblock %}
