{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-sm-12">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    {% trans "Change Password" %}
                </div>
                <div class="actions">
                </div>
            </div>
            <div class="portlet-body">

    <div class="row">
    <div class="col-sm-12">

    <h5>{% trans 'Your password is now changed.' %}</h5>

    </div></div></div></div></div></div>
{% endblock %}
