{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-sm-12">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    {% trans "Change Password" %}
                </div>
                <div class="actions">
                </div>
            </div>
            <div class="portlet-body form">

    <div class="row">
    <div class="col-sm-12">

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        <div class="form-body">
            {% csrf_token %}
            {% include 'entities/form.html' %}
        </div>
        <div class="form-actions">
            <button type="submit" name="action" class="btn btn-primary">{% trans "Change Password" %}</button>
        </div>
    </form>

    </div>
    </div>
    </div>
    </div>
    </div>
    </div>

{% endblock %}
