{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-12">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    {% trans "Password Reset" %}
                </div>
                <div class="actions">
                </div>
            </div>
            <div class="portlet-body form">

    <div class="row">
    <div class="col-sm-12">

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <div class="no_form_content">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail with instructions to reset it." %}</div>

    <form role="form" method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        <div class="form-body">
            {% csrf_token %}
            {% include 'entities/form.html' %}
        </div>
        <div class="no_form_content">{% blocktrans %}*Please contact us if you have any trouble resetting your password.{% endblocktrans %}</div>
        <div class="form-actions">
            <input type="submit" value="{% trans 'Reset Password' %}" />
        </div>
    </form>

    </div>
    </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}
