{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-sm-12">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    {% trans "Sign Up Closed" %}
                </div>
                <div class="actions">
                </div>
            </div>
            <div class="portlet-body">

    <div class="row">
    <div class="col-sm-12">

        <h3>{% trans "We are sorry, but sign ups are closed."%}</h3>
        <h3>{% trans "Zakanda is currently used only for demonstration purposes.." %}</h3>

    </div></div></div></div></div></div>

{% endblock %}
