{% extends 'base.html' %}

{% block content %}

    {% if not sports %}
            <h4>Sports have been deleted successfully</h4>
    {% else %}
        <h4>Sports in the database {{ sports }}</h4>
    {% endif %}

    {% if not countries %}
            <h4>Countries have been deleted successfully</h4>
    {% else %}
        <h4>Countries in the database {{ countries }}</h4>
    {% endif %}

    {% if not seasons %}
            <h4>Seasons have been deleted successfully</h4>
    {% else %}
        <h4>Seasons in the database {{ seasons }}</h4>
    {% endif %}

    {% if not sources %}
            <h4>Sources have been deleted successfully</h4>
    {% else %}
        <h4>Sources in the database {{ sources }}</h4>
    {% endif %}

    {% if not competitions %}
            <h4>Competitions have been deleted successfully</h4>
    {% else %}
        <h4>Competitions in the database {{ competitions }}</h4>
    {% endif %}

    {% if not competition_seasons %}
            <h4>Competition Seasons have been deleted successfully</h4>
    {% else %}
        <h4>Competition Seasons in the database {{ competition_seasons }}</h4>
    {% endif %}

    {% if not competition_season_infos %}
            <h4>Competition Season Infos have been deleted successfully</h4>
    {% else %}
        <h4>Competition Season Infos in the database {{ competition_season_infos }}</h4>
    {% endif %}

    {% if not teams %}
            <h4>Teams have been deleted successfully</h4>
    {% else %}
        <h4>Teams in the database {{ teams }}</h4>
    {% endif %}

    {% if not team_infos %}
            <h4>Team infos have been deleted successfully</h4>
    {% else %}
        <h4>Team infos in the database {{ team_infos }}</h4>
    {% endif %}

    {% if not events %}
            <h4>Events have been deleted successfully</h4>
    {% else %}
        <h4>Events in the database {{ teams }}</h4>
    {% endif %}

    {% if not bookmakers %}
            <h4>Bookmakers have been deleted successfully</h4>
    {% else %}
        <h4>Bookmakers in the database {{ bookmakers }}</h4>
    {% endif %}

    {% if not event_infos %}
            <h4>Event infos have been deleted successfully</h4>
    {% else %}
        <h4>Event infos in the database {{ event_infos }}</h4>
    {% endif %}

    {% if not market_types %}
            <h4>market_types have been deleted successfully</h4>
    {% else %}
        <h4>market_types in the database {{ market_types }}</h4>
    {% endif %}

    {% if not results %}
            <h4>results have been deleted successfully</h4>
    {% else %}
        <h4>results in the database {{ results }}</h4>
    {% endif %}

    {% if not winner_odds %}
            <h4>winner_odds have been deleted successfully</h4>
    {% else %}
        <h4>winner_odds in the database {{ winner_odds }}</h4>
    {% endif %}

    {% if not market_results %}
            <h4>market_results have been deleted successfully</h4>
    {% else %}
        <h4>market_results in the database {{ market_results }}</h4>
    {% endif %}

    {% if not winner_offers %}
            <h4>winner_offers have been deleted successfully</h4>
    {% else %}
        <h4>winner_offers in the database {{ winner_offers }}</h4>
    {% endif %}

    {% if not winner_offer_odds %}
            <h4>winner_offer_odds have been deleted successfully</h4>
    {% else %}
        <h4>winner_offer_odds in the database {{ winner_offer_odds }}</h4>
    {% endif %}




    {% if not over_under_results %}
            <h4>Over under markets results have been deleted successfully</h4>
    {% else %}
        <h4>Over under markets results in the database {{ over_under_results }}</h4>
    {% endif %}

    {% if not over_under_markets %}
            <h4>Over under markets have been deleted successfully</h4>
    {% else %}
        <h4>Over under markets in the database {{ over_under_markets }}</h4>
    {% endif %}

    {% if not final_score_results %}
            <h4>Final Score markets results have been deleted successfully</h4>
    {% else %}
        <h4>Final Score markets results in the database {{ final_score_results }}</h4>
    {% endif %}

    {% if not final_score_markets %}
            <h4>Final Score markets have been deleted successfully</h4>
    {% else %}
        <h4>Final Score markets in the database {{ final_score_markets }}</h4>
    {% endif %}

    {% if not bets %}
            <h4>Bets have been deleted successfully</h4>
    {% else %}
        <h4>Bets in the database {{ bets }}</h4>
    {% endif %}

    {% if not bet_events %}
            <h4>Bet_events have been deleted successfully</h4>
    {% else %}
        <h4>Bet_events in the database {{ bet_events }}</h4>
    {% endif %}

    {% if not selections %}
            <h4>Selections have been deleted successfully</h4>
    {% else %}
        <h4>Selections in the database {{ selections }}</h4>
    {% endif %}

{% endblock %}