
<div class="row offer_content_wrapper">
{% if odd_dict %}

    <div class="col-md-3 col-xs-12 market_label">
        <span class="label label-sm label-primary bg_zak_orange {% if odd_dict and not odd_dict.values.0 %}other_bookmaker{% endif %}">
            {{ market_type }}{% if odd_dict and not odd_dict.values.0 %}<span> * </span>{% endif %}
        </span>
    </div>
    {# TODO Refactor using data attributes. The market_{{ market_type.id }}_wrapper must always be the 2nd class, #}
    {# since this is how it is collected in js. The class is splitted to " " and the 2nd is collected #}
    <div class="btn-group market_{{ market_type.id }}_wrapper winner_wrapper col-md-9 col-xs-12" role="group" aria-label="...">
    <div class="row">
        {% if odd_dict.values.0 %}  {# if the odds are from the selected bookmaker #}
            {% include 'games/offer_choice.html' with choice=winner_market_choices.1    text=event.home_team.generic_name     init_odd=odd_dict.keys.0.home     span_class="home_team" %}
            {% include 'games/offer_choice.html' with choice=winner_market_choices.X    text="X"     init_odd=odd_dict.keys.0.draw  span_class="" %}
            {% include 'games/offer_choice.html' with choice=winner_market_choices.2    text=event.away_team.generic_name     init_odd=odd_dict.keys.0.away     span_class="away_team" %}
        {% else %} {# I could skip this check since there is no differenc in the handling. I leave it for future adds #}
            {% include 'games/offer_choice.html' with choice=winner_market_choices.1    text=event.home_team.generic_name     init_odd=odd_dict.keys.0.home     span_class="home_team" %}
            {% include 'games/offer_choice.html' with choice=winner_market_choices.X    text="X"     init_odd=odd_dict.keys.0.draw  span_class="" %}
            {% include 'games/offer_choice.html' with choice=winner_market_choices.2    text=event.away_team.generic_name     init_odd=odd_dict.keys.0.away     span_class="away_team" %}
        {% endif %}
    </div>
    </div>

{% else %}
    {#    if there is no odds dictionary. Normally this sould never happen. Even if we haven't collected #}
    {#    the odds yet, we create initial markets with odd 1. #}
    <div class="col-md-3 col-xs-12 market_label"><span class="label label-sm label-primary bg_zak_orange">{{ market_type }}</span></div>
    <div class="btn-group market_{{ market_type.id }}_wrapper winner_wrapper col-md-9 col-xs-12" role="group" aria-label="...">
    <div class="row">
    {% include 'games/no_odds_offer.html' with choice=winner_market_choices.1    text=event.home_team.generic_name %}
    {% include 'games/no_odds_offer.html' with choice=winner_market_choices.X    text="X" %}
    {% include 'games/no_odds_offer.html' with choice=winner_market_choices.2    text=event.away_team.generic_name %}
    <br>
    <span class="label label-danger">No ods available yet</span>
    </div></div>
{% endif %}
</div>