
{% load staticfiles %}

<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,200,400,500&subset=all" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'metronic/assets/global/plugins/simple-line-icons/simple-line-icons.min.css' %}">
{#<link rel="stylesheet" href="{% static 'django_comments_xtd/css/bootstrap.min.css' %}">#}
<link rel="stylesheet" href="{% static 'css/libs/bootstrap.min.css' %}">
{#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">#}

{#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.min.css">#}
<link rel="stylesheet" href="{% static 'metronic/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css' %}">
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN THEME GLOBAL STYLES -->
<link rel="stylesheet" href="{% static 'metronic/assets/global/css/components.min.css' %}">  {# components-rounded.min.css #}
<link rel="stylesheet" href="{% static 'metronic/assets/global/css/plugins.min.css' %}">
<!-- END THEME GLOBAL STYLES -->
<!-- BEGIN PAGE LEVEL STYLES -->
{#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">#}
<link rel="stylesheet" href="{% static 'metronic/assets/global/plugins/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'metronic/assets/global/plugins/select2/css/select2-bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'metronic/assets/global/plugins/ladda/ladda-themeless.min.css' %}">
<link rel="stylesheet" href="{% static 'metronic/assets/pages/css/profile.min.css' %}">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.dataTables.min.css">
{#<link rel="stylesheet" href="{% static 'metronic/assets/pages/css/about.min.css' %}">#}
<link rel="stylesheet" href="{% static 'metronic/assets/pages/css/pricing.min.css' %}">
<!-- END PAGE LEVEL STYLES -->
<!-- BEGIN THEME LAYOUT STYLES -->
<link rel="stylesheet" href="{% static 'metronic/assets/layouts/layout/css/layout.css' %}">
<link rel="stylesheet" href="{% static 'metronic/assets/layouts/layout/css/themes/default.min.css' %}">
<link rel="stylesheet" href="{% static 'metronic/assets/layouts/layout/css/custom.min.css' %}">
<!-- END THEME LAYOUT STYLES -->

<link rel="stylesheet" href="{% static 'metronic/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css' %}">

{#<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/dc/1.7.5/dc.min.css">#}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.3/dc.min.css">

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">

<link rel="stylesheet" href="{% static 'css/metronic_custom/about.css' %}">
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'css/left_sidebar.css' %}">
<link rel="stylesheet" href="{% static 'bet_slip/css/bet_slip.css' %}">
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/datatables.css' %}">

<link rel="stylesheet" href="{% static 'bet_statistics/css/profile_charts.css' %}">
<link rel="stylesheet" href="{% static 'bet_tagging/css/bet_tagging.css' %}">
<link rel="stylesheet" href="{% static 'bet_tagging/css/select_bet_details.css' %}">
<link rel="stylesheet" href="{% static 'games/css/spinner.css' %}">
<link rel="stylesheet" href="{% static 'games/css/pick_bets.css' %}">
<link rel="stylesheet" href="{% static 'avatar_extension/css/avatar.css' %}">
{#<link rel="stylesheet" href="{% static 'user_accounts/css/account_style.css' %}">#}
<link rel="stylesheet" href="{% static 'css/profile_sidebar.css' %}">
<link rel="stylesheet" href="{% static 'user_accounts/css/user_account.css' %}">
<link rel="stylesheet" href="{% static 'bet_statistics/css/tb_table.css' %}">
<link rel="stylesheet" href="{% static 'feeds/css/feeds.css' %}">
<link rel="stylesheet" href="{% static 'django_comments_xtd/css/comments.css' %}">

{#<link rel="stylesheet" type="text/css" href="{% static 'fluent_comments/css/ajaxcomments.css' %}" />#}

{#<link rel="shortcut icon" href="favicon.ico" />#}